*{
  margin: 0px;
  padding: 0px;
}
.contact-us{
  float: right;
  font-size: 20px;
  border-radius: 20%;
  border: 2px solid black;
  margin-right: 150px;
  background-color: black;
  color: white;
  margin-top: 20px;
}
.contant{
  font-size: 70px;
  margin-top: 200px;

}
.contant span{
  color: lime;
  margin-top: 50px;
}
.menu{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: black;
  float: right;
  margin-right: -250px;
  margin-top: -5px;
}
